body {
  color: rgb(44, 44, 44);
}

.container {
  margin-top: 3%;
  margin-bottom: 3%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.custom-select {
  color: rgb(44, 44, 44);
}

.container.empty {
  transform: translateY(20vh);
}

.spinner-container {
  text-align: center;
}

.fa-spinner {
  color: #44a2b8;
  margin: 15px auto;
  /* text-align: center; */
}

.margin-bottom {
  margin-bottom: 60px;
}

h1 {
  font-size: 2em;
  margin-top: 3%;
}

h2 {
  color: grey;
  font-size: 1.5em;
  margin-bottom: 4%;
}

form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  margin-bottom: 4%;
}

select {
  cursor: pointer;
}

#title-input {
  flex: 3;
  color:rgb(44, 44, 44);
}

#type,
#year {
  rgb(44, 44, 44);
  flex: 1;
}

.search-result {
  display: flex;
  gap: 30px;
  margin-bottom: 4%;
}

.search-result table {
  flex: 1;
}

th,
td {
  vertical-align: top;
  padding: 5px;
}

tr:not(:last-child) {
  border-bottom: 1px solid rgb(231, 231, 231);
}

th {
  width: 185px;
}

img {
  object-fit: cover;
  border-radius: 5px;
}

.ratings-table tr td:first-child {
  padding-left: 0;
}

.ratings-table tr td:last-child {
  padding-left: 20px;
}

.ratings-table tr:first-child td {
  padding-top: 0;
}

.error {
  width: 80%;
  margin: auto;
  text-align: center;
  color: rgb(211, 89, 89);
}

/********************************/
/* MEDIA QUERIES  */

@media only screen and (max-width: 1200px) {
  .margin-bottom {
    margin-bottom: 53px;
  }
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.2em;
  }

  table {
    font-size: 0.9em;
  }

  .container {
    max-width: 94%;
    margin: 3% 3%;
  }
}

@media only screen and (max-width: 875px) {
  .img-container {
    max-width: 40%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  #title-input {
    flex-basis: 100%;
  }

  #type,
  #year {
    flex: 1;
  }

  .margin-bottom {
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 762px) {
  h2 {
    width: 80%;
    margin: auto;
    font-size: 0.9em;
    margin-bottom: 4%;
  }

  .img-container {
    max-width: 100%;
  }

  .search-result {
    flex-direction: column;
    align-items: center;
  }

  .margin-bottom {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    width: 80%;
    margin: 5% auto 3% auto;
    font-size: 1.5em;
  }
  form {
    flex-direction: column;
    align-items: stretch;
  }

  .container.empty {
    transform: translateY(20vh);
  }

  .margin-bottom {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .search-result>table>tbody>tr {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .search-result>table>tbody>tr>td {
    padding-bottom: 10px;
  }

  .search-result table th {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0;
  }

  .ratings-table {
    margin: auto;
    width: 80%;
  }

  .ratings-table tr td:first-child {
    text-align: left;
  }

  .ratings-table tr td:last-child {
    text-align: right;
  } 

  img {
    margin-bottom: -15px;
  }

}
