.container {
  margin-top: 3%;
  margin-bottom: 3%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2em;
  margin-top: 3%;
}

h2 {
  color: grey;
  font-size: 1.5em;
  margin-bottom: 3%;
}

form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  margin-bottom: 3%;
}

#title-input {
  flex: 1;
}

.search-result {
  display: flex;
  gap: 30px;
  margin-bottom: 3%;
}

.search-result table {
  flex: 1;
}

th,
td {
  vertical-align: top;
  padding: 5px;
}

tr:not(:last-child) {
  border-bottom: 1px solid rgb(231, 231, 231);
}

th {
  width: 185px;
}

img {
  /* width: 100%;
  height: auto; */
  object-fit: cover;
  border-radius: 5px;
}

.ratings-table tr td:first-child {
  padding-left: 0;
}

.ratings-table tr td:last-child {
  padding-left: 20px;
}

.ratings-table tr:first-child td {
  padding-top: 0;
}

.error {
  text-align: center;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
}
